<body class="background">
  <center>
    <div class="jumbotron-edit">
      <button class="btn btn-boomboom" ng-click="createList()">Create New List</button>
      <p><a ui-sref="old" class="btn btn-boomboom">View Old Lists</a></p>
      <h1 class="title">BOOM - BOOM</h1>
      <p>Smash that list with your fist! (Metaphorically, that is.)</p>
    </div>

    <section class="main">
      <div class="container">
        <div class="row">
          <div class="sidebar col-sm-3 pull-left">
            <h2>Lists:</h2>
            <div class="list-content" ng-repeat="lists in listName" ng-click="setCurrentList(list)">
              <p>{{ lists.title }} - {{ lists.created_at | date }}</p>
            </div>
          </div>

          <div class="list col-sm-8">
            <div class="form-group">
               <h2 class="list-name">{{ currentList }}</h2>
                 <p>
                   <ol>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">{{ currentList.content }}</label>
                      </div>
                   </ol>
                 </p>
                 <p><button class="btn btn-boomboom2">Update List</button></p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
  </center>
</body>
